<div class="row">
    
    <div class="col-md-4 col-md-offset-4">
        <div class="well"> <!--macht ne graue Box um das Contact-Form, sieht dann besser aus!! ->
            
            <%= form_for @contact do |f| %>         <!-- @contact ist ne initial variable, können sie nur nutzen, da wir sie im contact_controller.rb File definiert haben!!! -->
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                    
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :commens %>
                    <%= f.text_area :comments, class: 'form-control' %>
                </div>
            
                <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
         </div>
     </div>
    
</div>